<h1>Edit Post!</h1>

<form action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <input type="text" name="body" placeholder="type what you want to post!" class="postbox" value="<%= post.body %>">
    <input type="submit" value="Update Post">
</form>