<%- include('../partials/heading.ejs') %>
<%- include("../partials/navBar.ejs", {id: myProfile._id}) %>
<form action="/posts" method="POST">
    <textarea rows="5" cols="60" name="body" placeholder="type what you want to post!"></textarea>

    <input type="submit" class="button" value="Post!">
</form>